body {
  background-image: url("http://localhost/Sistema/img/fondoDos.png") !important;
  background-size: cover;
}
#panel {
    letter-spacing: 0.2em;
    margin-right: 4em;
    margin-top: 5em;
}


div.col-md-12 h1 {
    margin: 1em;
    margin-left: 4em;
}

div.col-md-8 {
    padding: 2em;
}

div.fc.fc-ltr {
    width: 30em;
}

div.col-md-12 h1 span {
    color: #f5edf5;
    font-weight: normal;
}

span.hidden-xs {
    font-size: 2em;
    color: #faf7fa;
}

div.panel-body {
    border-radius: 10px 10px 0px 0px;
    background-color: #3D598B !important;
}

div.panel-footer {
    border-radius: 0px 0px 10px 10px;
}

h4.text-center {
    color: #ffffff;
    font-size: 2em;
}

