#inscripForm{
    display: none;
}

#page-container {
    padding-top: 4em;
}

div.panel-heading {
    background-color: #10B471 !important;
}

#page-content {
    background-color: #fcfcfc !important;
}

div.fc.fc-ltr {
    border-top-width: 1em !important;
    border-right-width: 1em !important;
    border-bottom-width: 1em !important;
    border-left-width: 0.5em !important;
    border-width: 1em !important;
    background-color: #fafafa !important;
    border-style: none !important;
    width: 25em !important;
}

i.icon-chevron-down {
    line-height: 2em;
}

span.fc-text-arrow{
    border-bottom-width: 0;
    border-top-width: 0;
    line-height: 1;
	height: 150px; 
  	width: 150px; 
	position: realative;
	top: 20px;
}

header.navbar.navbar-inverse.navbar-fixed-top {
    color: #db28db;
    height: 7em;
    background-color: #595F69 !important;
}

div.col-md-8 {
    padding: 2em;
}
span.hidden-xs {
    font-size: 2em;
    color: #faf7fa;
}

@media screen and (max-width: 768px) {
    h1{
        font-size:14px;
    }
} 

.disableClick {
    pointer-events: none;
}

#errorMens{
    color: #7C1010 ; 
}

.errorMsg{
    border-color: #7C1010 ;
}

#innp_nombre_div{
    display: none;
}















